huggingface-hub[cli]
fastapi~=0.110.0
gunicorn~=21.2.0
loguru~=0.7.2
numpy~=1.26.4
pydantic-settings>=2.3.3
pydantic-core~=2.18.4
pydantic~=2.7.4
loguru
openai
transformers
uvicorn
filetype~=1.2.0
Pillow~=10.3.0
torchvision